/static
/.env

# Created by .ignore support plugin (hsz.mobi)
*~
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/build
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
.installed.cfg
coverage.xml
.coverage
.coverage.*
.cache
*.cover
*.py,cover
local_settings.py
/docs/_build/
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.venv
env/
/src/.env
venv/
.spyderproject
.spyproject
.ropeproject
.pytype/
cython_debug/